.App-header {
  /* background: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  position: relative;
  color: #f07faa;
  font-size: 1.4rem;
  font-weight: 100;
}
.App-header hr {
  background: rgb(150, 150, 150);
  height: 2px;
  width: 60%;
  position: absolute;
  bottom: 0;
}
/* .App-header::before{
    content: "";
    display: block;
    background: rgb(150, 150, 150);
    height: 2px;
    width: 50%;
    position: absolute;
    top: 5%;
  } */

.App-header ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

.App-header li {
  position: relative;
}

.App-header li::after{
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  margin-bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  border-radius:4px 4px 0 0 ;
  transition:.9s;
}

.App-header li:hover::after{
  background:#ea4c89;
}


/* Menu Button */

.menu-btn {
  width: 40px;
  height: 40px;
  position: relative;
  outline: none;
  border: none;
  background: inherit;
}

.menu-bar::before,
.menu-bar::after {
  content: "";
  position: absolute;
}

.menu-bar,
.menu-bar::after,
.menu-bar::before {
  display: block;
  height: 4px;
  width: 40px;
  background-color: #f07faa;
}

.menu-bar::after {
  top: 80%;
}

.menu-bar::before {
  top: 10%;
}
