* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: ease-out .5s;
  /* font-size: 10px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  background: #ea4c89;
  color: #ea4c89;
  overflow: hidden;
  /* color: #5D5D5D; */
}

/* Components styles */

@import "./css/Layout.css";

@import "./css/Header.css";

@import "./css/Main.css";

@import "./css/Btn.css";

@keyframes App-logo-spin {
  0%{transform: rotate(-360deg);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
  0%{transform: rotate(0deg);}
}
